/*
Theme Name:		 Waterfront Framing
Theme URI:		 http://childtheme-generator.com/
Description:	 Waterfront Framing is a child theme of WP Bootstrap Starter, created by ChildTheme-Generator.com
Author:			 Calvin Chopp
Author URI:		 http://childtheme-generator.com/
Template:		 wp-bootstrap-starter
Version:		 1.0.0
Text Domain:	 waterfront-framing
*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,700;1,200;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
}

body,
html {
  font-size: 62.5%;
  font-family: 'Work Sans', sans-serif;
  height: 100%;
}

body {
  overflow-x: hidden;
}
$work-light: 100;
$work-thin: 200;
$work-regular: 300;
$work-bold: 700;
$tan: linear-gradient(0deg, #F8FDFF 0%, #ECF5FD 100%);
$blue-grad-bg: linear-gradient(0deg, #F8FDFF 0%, #ECF5FD 100%);
$dark: #495A58; //dark grey
//color
$accent: #32cbf7; //light blue

:root {
  --home-contact-height: 500px;
}

.pad-100 {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.column-list{
  display:block;
  margin:2rem 0;
  padding:0;
  width:100%;
  column-count:2;
  li{
    display:block;
    margin:1rem 0;
    padding:0;
  }
}
.tan {
  background: $tan;
}

.bottom-0 {
  padding-bottom: 0;
}

.drop-bottom {
  margin-bottom: -10rem;
}

h1 {
  font-size: 7.5rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
  font-family: 'Oxygen', sans-serif;
}

h2 {
  font-size: 5.5rem;
  font-weight: 300;
  margin-bottom: 3.1rem;
  font-family: 'Oxygen', sans-serif;
  color: $dark;
}

h3 {
  font-size: 4rem;
  font-weight: 100;
  margin-bottom: 3rem;
  margin-top: 3rem;
  font-family: 'Oxygen', sans-serif;
  color: $dark;
  opacity: 0.9;
}

h4 {
  font-size: 2rem;
  font-weight: 400;
  font-family: 'Oxygen', sans-serif;
  margin-bottom: 2rem;
  color: $dark;
}

h5 {
  font-size: 1.3rem;
  font-weight: 500;
  font-family: 'Oxygen', sans-serif;
  margin-bottom: 1.3rem;
  color: $dark;
  text-transform: uppercase;
  letter-spacing: 3px;
}

li,
p,
ul{
  font-size: 1.5rem;
  line-height: 2.3rem;
  font-weight: $work-regular;
  color: $dark;
}

a {
  color: $accent;
  transition: all 0.2s ease-in-out;
  font-weight: 300;
}

.btn {
  &.primary {
    text-transform: uppercase;
    color: #000;
    font-size: 1.3rem;
    letter-spacing: 2px;
    transition: all 0.2s ease-in-out;
    position: relative;
    margin-right: 4rem;
    padding-left: 0;

    &:after {
      display: block;
      content: '';
      position: absolute;
      right: -20px;
      top: 7px;
      background: url("img/btn-arrow.svg") no-repeat center center;
      width: 22px;
      height: 12px;
      transition: all 0.2s ease-in-out;
      opacity: 0.35;
    }

    &:hover {
      &:after {
        right: -25px;
        opacity: 1;
      }
    }
  }
}

.wpcf7-submit {
  &.btn.btn-primary {
    display: inline-block;
    width: auto;
    padding: 0.5rem 4rem;
    background: #495A58;
    margin-top: 1.5rem;
  }
}

header {
  height: 110px;
}
//navigation

.navbar {
  margin-top: 2.5rem;
  padding-left:2% !important;
  padding-right:2% !important;
  z-index: 9999;
  .navbar-brand {
    width: 260px;

    img {
      width: 100%;
      height: auto;
    }
  }

  .navbar-nav {
    margin-top: 1rem;

    .menu-item {
      margin: 0 2rem;

      a {
        &.nav-link {
          font-size: 1.3rem;
          text-transform: uppercase;
          letter-spacing: 1.2px;
          position: relative;
          &:after{
            margin-left: 1rem;
            vertical-align: 0.3em;
          }
          &:before {
            display: block;
            content: "";
            position: absolute;
            height: 1px;
            background: #d8d1c7;
            width: 0;
            left: 50%;
            margin-left: -25%;
            bottom: 0;
            transition: all 0.2s ease-in-out;
          }

          &:hover {
            &:before {
              width: 50%;
            }
          }
        }
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  .current-menu-item {
    font-weight: 600;
    position: relative;

    &:after {
      display: block;
      content: "";
      position: absolute;
      height: 2px;
      background: #d8d1c7;
      width: 50%;
      left: 50%;
      margin-left: -25%;
      bottom: 0;
    }
  }
}

//CALL OUT half
.call-out-half{
  background:$blue-grad-bg;
  margin-top:5rem;
  margin-bottom:1rem;
  .il-wrapper{
    margin-top: -13rem;
  }
}

//dual content_sections

.dual-content{
  .dc-content{
    h1, h2, h3{
      -webkit-column-span: all;
      -moz-column-span: all;
      column-span: all;
    }
    column-count: 2;
    grid-column-gap: 3.5rem;
    column-gap: 3.5rem;
  }
}
//CONTACT FORM STYLING
.wpcf7 {
  input,
  label,
  textarea {
    width: 100%;
  }

  label {
    font-size: 1.5rem;
    font-weight: $work-thin;
    opacity: 0.7;
  }

  input {
    min-height: 50px;
    border: 1px solid #CDCDCD;
    border-radius: 2px;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  select {
    min-height: 40px;
    border: 1px solid #CDCDCD;
    border-radius: 2px;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  .full {
    width: 99%;
  }

  .half {
    width: 49%;
    margin-right: 1%;
    float: left;
  }
}
//HERO BANNER

#hero-banner {
  width: 100%;
  background-image: linear-gradient(180deg, #F9FDFF 2%, #ECF5FD 100%);
  min-height: 70rem;
  margin-top: -110px;

  #banner-content {
    margin-top: 20%;

    p {
      margin-left: 1rem;
    }

    .btn {
      margin-left: 1rem;
    }

    ul {
      &.ctas {
        display: block;
        margin: 2rem 0 0;
        padding: 0;
        width: 100%;

        li {
          display: inline-block;
        }
      }
    }
  }
}
//tertiary banner
#secondary-banner {
  width: 100%;
  background-image: linear-gradient(180deg, #F9FDFF 2%, #ECF5FD 100%);
  min-height: 30rem;
  margin-top: -110px;
  display: block;

  .sec-content {
    margin-top: 17%;
    padding-bottom: 5rem;
  }
  margin-bottom: 10rem;

  .support-img {
    position: relative;

    #child-img-wrapper {
      display: flex;
      flex-direction: row-reverse;
      margin-top: 110px;
    }
  }
}
//tertiary banner
#tertiary-banner {
  width: 100%;
  background-image: linear-gradient(180deg, #F9FDFF 2%, #ECF5FD 100%);
  min-height: 30rem;
  margin-top: -110px;

  .tert-content {
    margin-top: 20%;
  }
  margin-bottom: 10rem;
}
//homepage carousel
.hero-carousel {
  position: relative;
  z-index: 3;
  margin-top: -100px;
  overflow-x: hidden;
  height: 500px;
  /* the slides */
  &.slick-slider {
    button {
      &.slick-arrow {
        border: 0;
        background: #000;
        color: #fff;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        font-size: 1.5rem;
        position: absolute;
        top: 45%;
        z-index: 3;

        &.slick-next {
          right: 10px;
        }

        &.slick-prev {
          left: 10px;
        }
      }
    }
  }

  .wf-slide {
    width: 360px;
    height: 440px;
    background-size: cover !important;
    position: relative;

    a {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      .view-icon {
        position: absolute;
        z-index: 5;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: rgba(0,0,0,.5);
        opacity: 0;
        transition: all 0.5s ease-in-out;
        text-align: center;

        .view-icon-wrapper {
          position: relative;
          display: block;
          margin: 0 auto;
          width: 100px;
          margin-top: 170px;
          transition: all 0.6s ease-in-out;

          p {
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 3px;
            font-size: 1.2rem;
          }
        }
      }

      &:hover {
        .view-icon {
          opacity: 1;

          .view-icon-wrapper {
            margin-top: 150px;
          }
        }
      }
    }
  }

  .slick-slide {
    overflow: visible;
    margin: 0 25px;

    h4 {
      margin-top: 1rem;
      position: absolute;
      bottom: -4.75rem;
      z-index: 4;
      opacity: 0.65;
    }
  }
  /* the parent */
  .slick-list {
    margin: 0 -25px;
    width: 95%;
    margin: 0 auto;
    overflow: visible;
  }
}
//homepage about content
.home-contact {
  margin-top: 10rem;
  margin-bottom: 10rem;

  #contact-options {
    margin-top: 2rem;
    padding-bottom: 7rem;

    a {
      width: 45%;
      display: inline-block;
      font-size: 1.5rem;
      color: $dark;
      transition: all 0.2s ease-in-out;

      i {
        margin-right: 1rem;
        opacity: 0.5;
      }

      &:hover {
        i {
          opacity: 1;
          color: $accent;
        }
        text-decoration: none;
        color: #000;
      }
    }
  }
}

ul {
  &.hours-operation {
    display: block;
    width: 100%;
    margin: 2rem 0 0;
    padding: 0;

    li {
      display: block;
      width: 100%;
      margin: 1rem 0;
      padding: 0;
      overflow: hidden;

      .oday {
        float: left;
        width: 45%;
        margin-right: 2.5%;
        font-weight: $work-bold;
      }

      .ohours {
        float: left;
        width: 45%;
        margin-left: 2.5%;
      }
    }
  }
}

.support-img {
  div {
    position: relative;

    img {
      z-index: 1;
      position: relative;
    }

    &:after {
      display: block;
      content: "";
      background: url('img/square-lines.svg')no-repeat;
      height: 418px;
      width: 418px;
      position: absolute;
      right: -25%;
      bottom: -25px;
      z-index: 0;
    }
  }
}
//SERVICE OPTIONS

.service-listing{
  margin-bottom:10rem;
}

.service-options {
  .service-option {
    position: relative;
    margin-top: 5rem;
    margin-bottom: 10rem;

    a {
      position: absolute;
      bottom: -4rem;
    }
  }
}
//footer
footer {
  background: #191C26;
  color: #fff;
  padding-top: 10rem;
  padding-bottom: 10rem;

  .social {
    ul {
      &#social-list {
        display: block;
        width: 100%;
        margin: 0 0 1.5rem;
        padding: 0;

        li {
          display: inline-block;
          margin: 0 1.5rem;

          a {
            font-size: 1.5rem;
          }

          &:first-of-type {
            margin-left: 0;
          }
        }
      }
    }

    .cr {
      font-size: 1rem;
    }
  }

  p {
    color: #fff;
    opacity: 0.8;
    font-size: 1.4rem;
  }

  a {
    color: #fff;
    opacity: 1;
    font-weight: $work-bold;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: $accent;
      text-decoration: none;
    }
  }

  h3 {
    &.widget-title {
      color: #fff;
      font-size: 1.7rem;
    }
  }

  .footer-nav {
    column-count: 2;

    .nav-link {
      font-size: 1.3rem;
      letter-spacing: 1px;
      font-weight: $work-regular;
      text-transform: uppercase;

      &:hover {
        background: none;
      }
    }
  }
}
@media only screen and (max-width: 1199px) {
  #main-nav {
    background: #fff;
    z-index: 9999;
    padding: 3rem;
    box-shadow: 0 15px 10px rgba(0, 0, 0, .1);
  }

  .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.1);
    border-radius: 0;
    border: 0;
    padding: 1rem;
    margin-top: 3rem;
    transition: all 0.2s ease-in-out;

    .navbar-toggler-icon {
      transition: all 0.2s ease-in-out;
    }

    &[aria-expanded="true"] {
      background: #fff;

      .navbar-toggler-icon {
        transform: rotate(90deg);
      }
    }
  }

  .navbar {
    .navbar-nav {
      .menu-item {
        a {
          &.nav-link {
            &:after {
              width: 0;
              left: 0;
              margin-left: 0;
            }

            &:hover {
              &:after {
                width: 50px;
              }
            }
          }
        }
      }
    }

    .current-menu-item {
      &:after {
        height: 2px;
        background: #d8d1c7;
        width: 50px;
        left: 0;
        margin-left: 0;
      }
    }
  }

  #secondary-banner {
    .sec-content {
      margin-top: 17%;
      padding-bottom: 5rem;
    }
    margin-bottom: 10rem;

    .support-img {
      #child-img-wrapper {
        flex-direction: row;
        margin-top: 4rem;
      }
    }
  }

  .flex {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}

.prebuilt-social{
  background:#333 url('img/social_pattern.jpg') repeat;
  text-align:center !important;
  h1,h2,h3{
    color:#fff;
  }
  padding:5rem;
  margin-bottom:10rem;
  ul{
    display:block;
    margin:0;
    padding:0;
    width:100%;
    li{
      display:inline-block;
      margin:0 5%;
      a{
        color:#fff;
        font-size:3.5rem;
        transition:all .2s ease-in-out;
        transform:scale(1);
        opacity:.8;
        &:hover{
          transform:scale(1.1);
          opacity:1;
        }
      }
    }
  }
}
.service-container{
  padding-top:8rem;
  margin-bottom:10rem;
}
.service-body{
  padding-right:5rem;
}

.post-block{
  a{
  .pod-wrapper{
    display:relative;
    width:100%;
    height:100%;
    .thumb-wrapper{
      display:block;
      position:relative;
      h4{
        text-decoration: none;
        color:#fff;
        position: absolute;
        bottom: -5px;
        left: 15px;
        z-index: 2;
        transition:all .3s ease-in-out;
      }
      .pod-explore{
        position:absolute;
        z-index: 3;
        bottom:10px;
        left:15px;
        opacity:0;
        transition:all .5s ease-in-out;
        p{
          color:$accent;
          text-transform:uppercase;
          letter-spacing: 1px;
          position:relative;
          display:inline-block;

          &:after{
            position:absolute;
            content:"";
            right: -30px;
            top: 5px;
            background: url("img/btn-arrow-white.svg") no-repeat center center;
            width: 22px;
            height: 12px;
          }
        }
      }
      span{
        background-image: linear-gradient(180deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.71) 90%);
        position:absolute;
        z-index: 1;
        width:100%;
        height:60%;
        bottom:0;
        transition:all .2s ease-in-out;
      }
    }
  }
  &:hover{
    .pod-wrapper{
      .thumb-wrapper{
        h4{
            bottom: 15px;
          }
        span{
          height:90%;
        }
        .pod-explore{
          opacity:1;
          bottom:50px;
        }
      }
    }
  }
}
}

//EVENTS

.events-banner{
  margin-bottom:0rem !important;
  position:relative;
  span{
    &#event-graphic{
      display: block;
      content: "";
      background: url('img/square-lines.svg')no-repeat;
      height: 180px;
      width: 180px;
      position: absolute;
      right: 10%;
      bottom: -40px;
      z-index: 1;
    }
  }
}

#tribe-events-pg-template {
    max-width: 1150px;
  }

.tribe-events-single .tribe-events-sub-nav{
  background:#f5f5f5;
  padding:1rem;
  border-radius:3px;
  font-family: 'Work Sans', sans-serif;
}

.tribe-common .tribe-common-c-btn{
  background: #495A58;
  border-radius:3px;
  text-transform:uppercase;
  font-weight:500;
  font-family: 'Work Sans', sans-serif;
  transition:all .3s ease-in-out;
  &:hover{
    background: #495A58;
    opacity:.75;
  }
}

.tribe-common a.tribe-common-c-btn{
  background: #495A58;
  border-radius:3px;
  font-weight:500;
  text-transform:uppercase;
  font-family: 'Work Sans', sans-serif;
  &:hover{
      background: #495A58;
    opacity:.75;
  }
}

.tribe-common--breakpoint-medium.tribe-common .tribe-common-form-control-text__input, .tribe-common--breakpoint-full.tribe-events .tribe-events-c-top-bar__datepicker-desktop, .tribe-events .tribe-events-calendar-list__event-date-tag-weekday, time.tribe-events-calendar-list__event-datetime, .tribe-common--breakpoint-medium.tribe-common .tribe-common-b2, .tribe-events-back a, .tribe-events-back a:visited {
  font-family: 'Work Sans', sans-serif;
}
time.tribe-events-calendar-list__event-datetime{
  opacity:.7;
}
.tribe-common--breakpoint-full.tribe-events .tribe-events-c-top-bar__datepicker-desktop {
    font-size: 1.5rem;
}

.tribe-events-calendar-list {
    margin-top: 3rem !important;
}

.tribe-events .tribe-events-calendar-list__event-date-tag-datetime{
  text-align:left;
}
.tribe-common--breakpoint-medium.tribe-common .tribe-common-h4--min-medium{
  font-size: 52px;
  font-family: 'Oxygen', sans-serif;
}
.tribe-events-meta-group .tribe-events-single-section-title{
  font-family: 'Oxygen', sans-serif;
  font-size:2rem;
}
.tribe-events-calendar-list__event-details{
  &.tribe-common-g-col{
    p{

    }
  }
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-list__event-description{
  margin-top: 5rem;
}
.tribe-common .tribe-common-anchor-thin{
  border-bottom:0px transparent;
  transition:border .1s ease-in-out;
  margin-bottom:2rem;
  position:relative;
  display:inline-block;
  &:after{
    display:block;
    content:" ";
    background:$accent;
    height:2px;
    width:50%;
    transition:width .3s ease-in-out;
  }
  &:hover{
    border-bottom:0px solid transparent;
    &:after{
      width:100%;
    }
  }
}

.tribe-events .tribe-events-c-ical__link {
    align-items: center;
    background-color: #fff;
    border: 1px solid $accent;
    border-radius: 4px;
    color:$accent;
    font-weight: 700;
    &:hover{
      background-color:$accent;
    }
}

.tribe-common .tribe-common-c-svgicon, .tribe-events-cal-links .tribe-events-gcal, .tribe-events-cal-links .tribe-events-ical, .tribe-events-event-meta a, .tribe-events-event-meta a:visited{
  color:$accent;
}
.tribe-events-cal-links .tribe-events-gcal, .tribe-events-cal-links .tribe-events-ical, .tribe-events-event-meta a, .tribe-events-event-meta a:visited{
  font-weight:500;
}

span.tribe-events-calendar-list__event-date-tag-daynum.tribe-common-h5.tribe-common-h4--min-medium, span.tribe-events-calendar-list__event-date-tag-weekday{
  background:#f5f5f5;
  padding: 13px;
}
span.tribe-events-calendar-list__event-date-tag-weekday{
  padding-bottom:0;
}
span.tribe-events-calendar-list__event-date-tag-daynum.tribe-common-h5.tribe-common-h4--min-medium{
  padding-top:0;
  margin-top: -10px;
  z-index: -1;
}

.tribe-events-pg-template{
  .tribe-events-single-event-title, .tribe-events-schedule.tribe-clearfix{
    display:none;
  }
}

.tribe-events-content ol, .tribe-events-content p, .tribe-events-content ul{
  font-family: 'Work Sans', sans-serif;
  font-size:1.6rem;
  line-height:1.9rem;
}


@media only screen and (max-width: 767px) {
  .call-out-half{
    .il-wrapper{
      margin-top: 4rem;
    }
  }
  .dual-content{
    .dc-content{
      column-count: 1;
      grid-column-gap: 0rem;
      column-gap: 0rem;
    }
  }
}


@media only screen and (max-width: 550px) {
  .column-list{
    column-count:1;
  }
  .wpcf7 {
    .full {
      width: 100%;
    }

    .half {
      width: 100%;
      margin-right: 0;
      float: left;
    }
  }
}
